// Figures in Grid from blocks
figure.figuregrid.product {
  img {
    min-height: 80% !important;
    max-height: 80% !important;
  }
}

figure.figuregrid,
picture.figuregrid,
figuregrid {
  margin: 0;

  .img[data-contain="false"] img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .video,
  .img {
    position: relative;
    display: block;
    --w: 1;
    --h: 1;
    padding-bottom: calc(100% / var(--w) * var(--h));
    --background: var(--yellow);
    background: var(--background);

    &.auto {
      // position: unset;
      // display: unset;
      --w: 1;
      --h: 1;
      padding-bottom: 0;
      --background: var(--yellow);
      background: var(--background);
    }
  }

  .img img,
  .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0;
    --opactity: 0.75;
    &:hover {
      opacity: --opacity;
      cursor: pointer;
    }
  }
}

.isFallback {
  text-align: center;
  display: flex;
  margin: auto;
  /* text-align: center; */
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
  color: var(--purple);
  height: calc(100vh - 4.5rem);
  font-family: var(--sans);
  font-style: normal;
  font-weight: 200;
  line-height: 2.3rem;
  text-align: left;
  font-size: 3.4rem;
}
