.fiftyfifty-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: var(--gutter) calc(var(--guttter) * 2);

    .OneHalf {
        flex-basis: calc(100% * 1 / 2);
        max-width: calc(100% * 1 / 2);
        padding: 0 7.5px;
        border: 1px solid red;

        // .header{}

        .category {
            font-family: var(--mono);
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 27px;
            text-align: center;
        }
        
        .title {
            font-family: var(--sans);
            font-size: 30px;
            font-style: normal;
            font-weight: 200;
            line-height: 27px;
            text-align: center;
        }
        .author {
            font-family: var(--sans);
            font-size: var(--small-font);
            line-height: var(--small-line-height);
            /* or 123% */
            text-align: right;
        }
        // .image {
        // }
        // .details { 
        // }
    }
}
