.information-wrapper {
    // width: calc(100% - 48px);
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: var(--gutter);
    grid-template-areas:
        "info info info info"
        "supporters editors logos logos";

    @media(max-width: 768px) {
        grid-template-areas:
            "info info info info"
            "supporters supporters supporters supporters"
            "editors editors editors editors"
            "logos logos logos logos";
    }

    padding: 0 var(--gutter);
    //   typography
    font-style: normal;
    font-weight: normal;
    color: #3d100d;

    * {
        font-family: var(--sans);
        // font-size: var(--size);
        // line-height: 2rem;
    }

    .info {
        grid-area: info;
        font-weight: 200;
        margin-top: var(--gutter);
        margin-bottom: var(--size);

        p {
            margin-bottom: var(--size);
        }
    }

    .supporters {
        grid-area: supporters;
        font-weight: 200;

        p {
            margin-bottom: var(--size);
        }
    }

    .editors {
        grid-area: editors;
        font-weight: 200;

        p {
            margin-bottom: var(--size);
        }
    }
}

.logos {
    bottom: 0;
    width: 50%;
    // margin-left: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    left: 50%;
    padding-bottom: var(--gutter);

    figure {
        padding-right: var(--gutter);
        width: 150px;
        float: left;
        height: 100%;
        min-height: 1px;
        margin: 0;
        cursor: pointer;
    }

    @media(max-width: 768px) {
        position: relative;
        left: 0;
        padding: var(--gutter);


    }
}