.menu {
  a:hover {
    /* color: LightGray; */
  }

  &-trigger {
    --theme: var(brown);
    background-color: var(--theme);
    height: 100vh;
    width: var(--navWidth);
    color: var(--yellow);
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 1.4rem 0 0 0;
    cursor: pointer;
  }

  &-pane {
    //styleName: Nimbus 40;

    text-align: left;
    z-index: 110;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: calc(100vw - var(--navWidth));
    height: 100vh;
    position: fixed;
    top: 0;
    color: #3d100d;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto;
    // grid-column-gap: 0;
    // grid-template-areas: "left right";
    display: flex;
    flex-direction: row;
    display: none;

    &.show {
      display: grid;
    }

    &.hide {
      display: none;
    }

    .left {
      // grid-area: left;
      background: white;
      padding: var(--gutter);
      // * {
      font-size: 4rem;
      font-family: var(--sans), sans-serif;
      font-style: normal;
      font-weight: 100;
      line-height: 4.3rem;
      letter-spacing: 0em;
      overflow: scroll;
      flex-basis: 50%;
      position: relative;

      @media (max-width: 768px) {
        flex-basis: 100%;
        background: var(--yellow);
        // opacity: 0.75;
      }

      .close {
        position: absolute;
        top: var(--gutter);
        right: var(--gutter);
        cursor: pointer;
      }

      @media (max-width: 768px) {
        .archive {
          display: none;
        }
      }

      li {
        list-style: none;
        // display: inline;
        cursor: pointer;

        // span {
        //     &:hover {
        //         text-decoration: underline;
        //     }
        // }
        a {
          &:hover {
            color: var(--purple);
          }
          &.donate {
            color: var(--purple);
            &:hover {
              color: var(--green);
            }
          }
        }
      }

      .small {
        font-size: var(--size);
        line-height: 110%;
      }

      //   li:last-child:before {
      //     content: " and ";
      //   }

      li:first-child:before {
        content: "";
      }
    }

    .right {
      // grid-area: right;
      background: var(--yellow);
      opacity: 0.75;
      padding: var(--gutter);
      overflow: scroll;
      flex-basis: 50%;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.show {
  display: flex;
}

.active {
  span {
    color: var(--purple);
    text-decoration: underline;
  }
}
