.content-wrapper {
  // width: calc(100% - 48px);
  width: 100%;
  overflow: hidden;
  padding: 0 var(--gutter);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: calc(6 * ((100vh - 49px) / 15)) auto auto;
  grid-column-gap: var(--gutter);
  grid-template-areas:
    "image padding"
    "header blank"
    "content blank"
    "footer blank"
    ;

  .image {
    grid-area: image;
    display: block;
    padding-top: var(--gutter);

    figure {
      // display: block;
      // // overflow: hidden;
      // position: relative;
      // box-sizing: border-box;
      // // margin: unset;
      // margin-top: 0;
      // margin-right: 0;
      // max-height: 80vh;
      // margin: 0;

      img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
      }
      figcaption {
      }
    }
    figcaption {
      font-family: var(--mono);
      font-size: 1.2rem;
      padding-top: 0.9rem;
    }
  }

  .header {
    grid-area: header;
    padding: 3rem 0 0 0;
    h1 {
      // color: red;
      font-family: var( --body), serif;
      font-weight: normal;
      display: inline;
    }

    .title {
      font-style: italic;
      font-weight: normal;
    }

    .author {
      font-style: normal;
    }

    .date {
      display: inline-block;
      font-family: var(--mono);
    }

    .info {
      // font-size: 20px;
      margin: var(--size) 0;
      font-family: var(--mono);
      // font-size: 1.4rem;
    }

    .status {
      color: var(--green);
    }

    li,
    ul {
      padding: 0;
      display: inline;
    }

    li:before {
      content: ", ";
    }

    li:after {
      content: "";
    }

    li:last-child:before {
      content: " and ";
    }

    li:first-child:before {
      content: "by ";
    }
  }

  .content {
    grid-area: content;
    p {
      font-family: var( --body), serif;
      font-size: var(--size);
      text-align: left;
      line-height: 111.11%;
      margin: 0;
      font-weight: 300;

      + p {
        text-indent: 6rem;
      }
    }
    figure {
      display: none;
      + p {
        text-indent: 6rem;
      }

      img {
        max-width: 100%;
        max-height: 90vh;
      }
      figcaption {
      }
    }
  }
  .footer {
    grid-area: footer;

    .bio {
      margin: 14px 0;
      font-family: var(--mono);
    }

    .artists {
      margin: 14rem 0;
      font-family: var( --body), serif;
      font-size: var(--size);
      text-align: left;
      line-height: 111.11%;
      font-weight: 300;
      text-transform: uppercase;
    }

    .previous {
      margin: 1.4rem 0;
      font-family: var(--sans), sans-serif;
      font-size: 6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 6rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .issue {
    position: fixed;
    bottom: 1.4rem;
    right: calc(var(--gutter) + 48px);
    text-transform: uppercase;
    font-family: var(--sans), sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: 0em;
    text-align: left;
  }
}

.cover-wrapper {
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    /* left: 0; */
    right: 0;
    height: 50vh;
    width: 50vw;
  }
}


.open > .reviewImage{
  display: none;
}