.submit-btn {
  font-family: var(--sans);
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  background: var(--green);
  border-radius: 18px;
  border: 1px solid #777;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 0.15em;
}

.submit-btn:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
